{% extends 'base.html.twig' %}

{% block title %}Welcome to Ecommerce page{% endblock %}

{% block body %}
    <div class="container">
        Welcome to home page of ecommerce.
    </div>
{% endblock %}
